


<div id="main-wrapper" *ngIf="compruebaAdmin() === true">

    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs -->
            <app-breadcrumbs></app-breadcrumbs>

            <!-- Mi sistema de rutas -->
            <router-outlet></router-outlet>
            

            <!-- 
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            </div> 
            -->

        </div>

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
        
                <div class="cajader">
                    Telefono: 953845624<br>
                     <a href="https://accounts.google.com/">Email: PlanetBurter@gmail.com</a> 
                </div>
            
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->

    </div>


</div>


<div id="main-wrapper" *ngIf="compruebaAdmin() === false">

    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs -->
            <app-breadcrumbs></app-breadcrumbs>

            <!-- Mi sistema de rutas -->
            <router-outlet></router-outlet>
            

            <!-- 
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            </div> 
            -->

        </div>

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            
            <div class="cajader">
                Telefono: 953845624<br>
                 <a href="https://accounts.google.com/">Email: PlanetBurter@gmail.com</a> 
            </div>
            
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->

    </div>


</div>


